@media (max-width: 1440px) {

}

@media (max-width: 1200px) {

}


@media (max-width: 992px) {
  #hero .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  #hero .hero--container .animated-image {
    margin-top: 60px;
    animation: moveImage 5s;
  }
}

@media (max-width: 768px) {

}
@media (max-width: 420px) {

}
@media (max-width: 320px){

}