#trading {
  padding-top: 150px;

  h1 {
    color: var(--White, #FFF);
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .trading {
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--img {
      img {
        width: 600px;
      }
    }
    &--title {
      h2 {
        color: var(--Blue, #29C5F6);
        font-family: Inter, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top: -20px;
        padding-bottom: 15px;
      }
      div {
        display: flex;
        align-items: center;
        padding: 10px 0;
        p {
          color: var(--White, #FFF);
          font-family: Inter, sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-left: 15px;
        }
      }
    }

  }
}